// Flashcard Set Creator Styles
.set-creator {
  margin: $spacer 0;
}

// Creator Profile
.creator-profile {
  .user-photo-box {
    $s: 5rem;
    width: $s;
    height: $s;

    p {
      font-size: $main-fs * 1.5;
    }
  }

  .creator-info {
    margin-left: $spacer-small;

    p,
    strong {
      font-size: $main-fs * 0.75;
    }

    p {
      font-weight: lighter;
      margin-bottom: $spacer-small * 0.35;
    }
  }
}

// Flashcard Set Options
.fc-set-options {
  .fc-set-opt-btn {
    $s: 2.75rem;
    width: $s;
    height: $s;
    outline: none;
    border: none;
    background: white;
    border-radius: 50%;
    box-shadow: 0 0 5px 1px rgba($black-shadow, 0.15);
    margin-left: $spacer-small;
    transition: all 200ms ease-out;

    &:hover {
      cursor: pointer;
      opacity: 0.5;
    }

    p {
      font-size: $main-fs * 0.85;
      font-weight: bold;
      font-family: $main-ft;
    }
  }

  .fav-icon {
    color: #f8c818;
  }
}

// Share / Export & Info Pop Up
.share-pop-up,
.info-pop-up {
  min-height: 80vh;
  width: 35vw;
  overflow-y: scroll;
}

.share-pop-up {
  // Share Link
  .share-link-box {
    margin: $spacer 0;
    padding: 0 $spacer;

    p {
      background: white;
      border: 1px solid lightgrey;
      padding: $spacer-small * 0.75;
    }
  }

  .copy-btn {
    outline: none;
    border: none;
    border-radius: $border-radius-width * 0.5;
    background: $primary-clr;
    color: white;
    padding: $spacer-small * 0.5 $spacer;
    font-weight: bold;
    margin-top: $spacer-small;
    transition: all 200ms ease-out;

    &:hover {
      cursor: pointer;
      opacity: 0.5;
    }
  }

  // Export Terms
  .export-terms-box {
    padding: 0 $spacer;

    p {
      background: white;
      border: 1px solid lightgrey;
      padding: $spacer-small * 0.75;
      white-space: pre-line;
      line-height: $spacer * 0.8;
      height: 35vh;
      overflow-y: scroll;
      scroll-behavior: smooth;
    }
  }
}

.info-pop-up {
  padding-bottom: $spacer-md;

  // Loading Spinner
  .loading-spinner {
    margin-top: $spacer-md;

    div:after {
      background: $primary-clr;
    }
  }

  // Error
  .error-box {
    width: 90%;
    margin: 0 auto;
    margin-top: $spacer;
    border-radius: none;
  }

  // Creator
  .creator-info-box {
    margin: $spacer 0;
    padding: 0 $spacer;

    .user-photo-box {
      margin-right: $spacer-small;
    }

    .creator-info {
      p {
        font-weight: lighter;
        margin-bottom: $spacer-small * 0.35;
        font-size: $main-fs * 0.5;
      }

      strong {
        font-size: $main-fs * 0.65;
      }
    }
  }

  // Users
  .users-box {
    padding: 0 $spacer;

    .set-user-info {
      margin-bottom: $spacer * 1.5 !important;
    }

    // Total Users
    .total-users {
      $s: 10vw;
      width: $s;
      height: $s;
      background: rgba(rgb(0, 132, 255), 0.5);
      padding: $spacer;
      color: white;
      transition: all 200ms ease-out;

      &:hover {
        cursor: pointer;
        background: rgb(255, 208, 0);
        border: 3px solid white;
      }

      .icon {
        font-size: $main-fs * 1.65;
      }

      p {
        font-size: $main-fs * 1.5;
        font-weight: bold;
        margin-right: 2.5px;
      }
    }

    .active {
      background: #00ff80;
    }

    // Privacy
    .privacy {
      margin-left: $spacer;

      p {
        font-size: $main-fs * 0.9;
        margin-bottom: 2.5px;
      }

      h3 {
        font-size: $main-fs * 1.15;
      }
    }

    // User
    .user-box {
      background: white;
      padding: $spacer-small * 0.75;
      margin-bottom: $spacer-small;
      animation: fade-in 500ms forwards ease-out;

      .user-photo-box {
        margin-right: $spacer-small * 0.75;
      }
    }
  }
}
