// Set Creator Skeleton Styles
.creator-profile {
  .p-skel {
    width: 7.5rem;
    margin-bottom: $spacer-small / 2;
  }

  .strong-skel {
    width: 10rem;
  }
}

.fc-set-opt-btn-skel {
  background: lightgrey !important;
}
