// Global Styles & Classes

// Text Overflow
.text-overflow {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

// User Photo
.user-photo-box {
  $s: 2.5rem;
  width: $s;
  height: $s;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;

  .user-photo {
    width: 100%;
    height: 100%;
    border-radius: 50%;
  }

  p {
    color: white;
    font-weight: bold;
    font-size: $main-fs / 1.25;
  }
}

// Primary Button
.primary-btn {
  text-decoration: none;
  display: inline-block;
  background: $secondary-clr;
  color: black;
  padding: $spacer-small / 2 $spacer-small;
  border-radius: $border-radius-width / 2;
  font-size: $main-fs / 1.25;
  transition: all 200ms ease-out;

  &:hover {
    opacity: 0.75;
  }
}

// Page Container
.page-container {
  .page-title {
    color: grey;
    font-size: $main-fs;
    font-weight: lighter;
    margin-bottom: $spacer;
  }
}

// Divider
.divider {
  width: 100%;
  margin-bottom: $spacer;

  h3 {
    margin: 0 $spacer-small;
  }
}
