// Search Styles
.community-search-bar {
  width: 100%;
  background: white;
  padding: $spacer-small;
  border-radius: $border-radius-width;

  .icon {
    font-size: $main-fs * 1.25;
    margin-right: $spacer-small;
  }

  input {
    display: block;
    outline: none;
    border: none;
    background: transparent;
    font-size: $main-fs * 0.9;
    width: 100%;
  }
}
