/* 
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com 
Twitter: @rich_clark
*/
html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

body {
  line-height: 1;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

nav ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

/* change colours to suit your needs */
ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none;
}

/* change colours to suit your needs */
mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold;
}

del {
  text-decoration: line-through;
}

abbr[title],
dfn[title] {
  border-bottom: 1px dotted;
  cursor: help;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* change border colour to suit your needs */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0;
}

input,
select {
  vertical-align: middle;
}

/* My Code */
*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* Variables */
/* Colors */
/* Font */
/* Spacers */
/* Border */
.between-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.around-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.center-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.center-vertical {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.text-overflow {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.user-photo-box {
  width: 2.5rem;
  height: 2.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 50%;
}

.user-photo-box .user-photo {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

.user-photo-box p {
  color: white;
  font-weight: bold;
  font-size: 1.2rem;
}

.primary-btn {
  text-decoration: none;
  display: inline-block;
  background: #ffe600;
  color: black;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  font-size: 1.2rem;
  -webkit-transition: all 200ms ease-out;
  transition: all 200ms ease-out;
}

.primary-btn:hover {
  opacity: 0.75;
}

.page-container {
  min-height: 100vh;
}

.page-container .page-title {
  color: grey;
  font-size: 1.5rem;
  font-weight: lighter;
  margin-bottom: 2rem;
}

.divider {
  width: 100%;
  margin-bottom: 2rem;
}

.divider h3 {
  margin: 0 1rem;
}

.flipper {
  position: relative;
  -webkit-perspective: 600px;
          perspective: 600px;
  -webkit-transform-origin: 100% center;
          transform-origin: 100% center;
}

.front-card,
.back-card {
  position: absolute;
  top: 0;
  left: 0;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  -webkit-transition: opacity 200ms ease-out, -webkit-transform 500ms ease-in-out;
  transition: opacity 200ms ease-out, -webkit-transform 500ms ease-in-out;
  transition: transform 500ms ease-in-out, opacity 200ms ease-out;
  transition: transform 500ms ease-in-out, opacity 200ms ease-out, -webkit-transform 500ms ease-in-out;
}

.front-card {
  z-index: 2;
  -webkit-transform: rotateX(0deg);
          transform: rotateX(0deg);
}

.flipper.flip .front-card {
  -webkit-transform: rotateX(180deg);
          transform: rotateX(180deg);
}

.back-card {
  -webkit-transform: rotateX(-180deg);
          transform: rotateX(-180deg);
}

.flipper.flip .back-card {
  -webkit-transform: rotateX(0deg);
          transform: rotateX(0deg);
}

.flashcards-icon {
  width: 4rem;
  height: 1.75rem;
  position: relative;
}

.flashcards-icon .fc-rect {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 5px;
  -webkit-box-shadow: 0 0 5px 1px rgba(0, 163, 255, 0.25);
          box-shadow: 0 0 5px 1px rgba(0, 163, 255, 0.25);
}

.flashcards-icon #fc-rect-1 {
  background: #00a3ff;
}

.flashcards-icon #fc-rect-2 {
  background: #50b8f5;
  top: 0.4rem;
  left: 0.4rem;
}

.flashcards-icon #fc-rect-3 {
  background: #9fd7f8;
  top: 0.8rem;
  left: 0.8rem;
}

.match-icon {
  width: -webkit-min-content;
  width: -moz-min-content;
  width: min-content;
}

.match-icon .mt-rect {
  height: 1rem;
  border-radius: 2.5px;
}

.match-icon .mt-rect div {
  width: 50%;
  height: 7.5%;
  background: white;
}

.match-icon #main-mt-rect {
  width: 3rem;
  background: #00a3ff;
}

.match-icon #left-mt-rect,
.match-icon #right-mt-rect {
  width: 2.4rem;
  background: #77cafa;
  margin: 0 5px;
}

#not-authed-nav {
  padding: 0.85rem 2rem;
}

#authed-nav {
  padding: 0.5rem 2rem;
}

.nav-bar {
  top: 0;
  left: 0;
  right: 0;
  position: absolute;
  background: white;
  border-bottom: 1px solid lightgrey;
  z-index: 1000;
}

.nav-bar .nav-title {
  font-size: 1.5rem;
  font-weight: bold;
  color: #00a3ff;
  margin-right: 2rem;
  text-decoration: none;
}

.nav-bar .nav-link {
  color: grey;
  text-decoration: none;
  margin: 0 0.66667rem;
  -webkit-transition: all 200ms ease-out;
  transition: all 200ms ease-out;
}

.nav-bar .nav-link:hover {
  padding-bottom: 8.5px;
  border-bottom: 2px solid #ffe600;
}

.nav-bar .nav-link.active {
  padding-bottom: 8.5px;
  border-bottom: 2px solid #ffe600;
}

.nav-bar .login-link {
  color: grey;
  text-decoration: none;
  margin-right: 1rem;
  -webkit-transition: all 200ms ease-out;
  transition: all 200ms ease-out;
}

.nav-bar .login-link:hover {
  background: #fbfbfb;
  padding: 0.5rem;
  border-radius: 5px;
}

.nav-bar .signup-link {
  background: #ffe600;
  color: black;
  text-decoration: none;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  -webkit-transition: all 200ms ease-out;
  transition: all 200ms ease-out;
}

.nav-bar .signup-link:hover {
  opacity: 0.5;
}

.nav-bar .nav-user-photo:hover {
  cursor: pointer;
}

.nav-bar .nav-user-close {
  width: 2.5rem;
  height: 2.5rem;
  color: red;
  -webkit-transition: all 600ms ease-out;
  transition: all 600ms ease-out;
}

.nav-bar .nav-user-close:hover {
  cursor: pointer;
  -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
}

.nav-bar .form-disabled {
  opacity: 0.5;
}

.nav-bar .nav-search-bar {
  background: #fbfbfb;
  border-radius: 5px;
  padding: 5px 7.5px;
  margin-right: 1rem;
}

.nav-bar .nav-search-bar .icon {
  margin: 0 5px;
}

.nav-bar .nav-search-bar input {
  background: transparent;
  outline: none;
  border: none;
}

.user-menu {
  max-width: 17.5vw;
  position: absolute;
  top: 7.5vh;
  right: 5vw;
  background: white;
  border-radius: 10px;
  -webkit-box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.25);
          box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.25);
}

.user-menu .user-menu-header {
  padding: 1rem 1.5rem;
}

.user-menu .user-menu-header .user-photo-box {
  min-width: 2.5rem;
  height: 2.5rem;
  margin-right: 0.5rem;
}

.user-menu .user-menu-header h3 {
  max-width: 60%;
}

.user-menu .user-menu-header h4 {
  color: grey;
  max-width: 60%;
  font-weight: lighter;
  margin-top: 1.5px;
}

.user-menu .user-menu-links-box {
  border-top: 2px solid rgba(211, 211, 211, 0.35);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.user-menu .user-menu-links-box .user-menu-link {
  color: grey;
  text-decoration: none;
  padding: 1rem 1.5rem;
}

.user-menu .user-menu-links-box .user-menu-link:hover {
  background: rgba(211, 211, 211, 0.25);
}

.user-menu .user-menu-links-box .signout-btn {
  color: grey;
  padding: 1rem 1.5rem;
}

.user-menu .user-menu-links-box .signout-btn:hover {
  cursor: pointer;
  color: white;
  background: rgba(255, 0, 0, 0.5);
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.auth-container {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.auth-box {
  width: 30vw;
  background: white;
  -webkit-box-shadow: 0 0 15px 0.5px rgba(0, 0, 0, 0.25);
          box-shadow: 0 0 15px 0.5px rgba(0, 0, 0, 0.25);
  padding: 2rem;
}

.auth-box h2 {
  font-weight: 400;
  text-align: center;
  font-size: 1.5rem;
  margin-bottom: 2rem;
}

.auth-box h2 span {
  color: #00a3ff;
}

.auth-box .firebaseui-idp-list {
  margin-bottom: 4rem;
}

.auth-box .firebaseui-idp-list li {
  -webkit-transition: all 200ms ease-out;
  transition: all 200ms ease-out;
}

.auth-box .firebaseui-idp-list li:hover {
  -webkit-transform: scale(0.95);
          transform: scale(0.95);
}

.auth-box .mdl-card {
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
}

.auth-box .mdl-card .firebaseui-card-header {
  display: none;
}

.auth-box .mdl-card #ui-sign-in-email-input {
  font-size: 1.2rem;
}

.auth-box .mdl-card .firebaseui-text {
  color: grey;
  margin-bottom: 1rem;
  line-height: 1.7rem;
}

.auth-box .mdl-card .firebaseui-form-actions .firebaseui-id-secondary-link {
  color: grey;
  -webkit-transition: all 200ms ease-out;
  transition: all 200ms ease-out;
  border-radius: 5px;
}

.auth-box .mdl-card .firebaseui-form-actions .firebaseui-id-secondary-link:hover {
  color: white;
  background: rgba(255, 0, 0, 0.75);
}

.auth-box .mdl-card .firebaseui-form-actions .firebaseui-id-submit {
  color: black;
  background: #ffe600;
  -webkit-box-shadow: none;
          box-shadow: none;
  border-radius: 5px;
  -webkit-transition: all 200ms ease-out;
  transition: all 200ms ease-out;
}

.auth-box .mdl-card .firebaseui-form-actions .firebaseui-id-submit:hover {
  background: rgba(255, 230, 0, 0.5);
}

.auth-box .firebaseui-form-links > .firebaseui-link {
  color: grey;
}

.auth-box .firebaseui-error-wrapper {
  margin-top: 0.5rem;
}

.loading-screen {
  z-index: 10000;
}

.loading-screen p {
  color: white;
  font-weight: bold;
  font-size: 1.5rem;
  margin-top: 2rem;
}

.loading-spinner {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}

.loading-spinner div {
  -webkit-animation: lds-roller 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
          animation: lds-roller 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  -webkit-transform-origin: 40px 40px;
          transform-origin: 40px 40px;
}

.loading-spinner div:after {
  content: " ";
  display: block;
  position: absolute;
  width: 7px;
  height: 7px;
  border-radius: 50%;
  background: #fff;
  margin: -4px 0 0 -4px;
}

.loading-spinner div:nth-child(1) {
  -webkit-animation-delay: -0.036s;
          animation-delay: -0.036s;
}

.loading-spinner div:nth-child(1):after {
  top: 63px;
  left: 63px;
}

.loading-spinner div:nth-child(2) {
  -webkit-animation-delay: -0.072s;
          animation-delay: -0.072s;
}

.loading-spinner div:nth-child(2):after {
  top: 68px;
  left: 56px;
}

.loading-spinner div:nth-child(3) {
  -webkit-animation-delay: -0.108s;
          animation-delay: -0.108s;
}

.loading-spinner div:nth-child(3):after {
  top: 71px;
  left: 48px;
}

.loading-spinner div:nth-child(4) {
  -webkit-animation-delay: -0.144s;
          animation-delay: -0.144s;
}

.loading-spinner div:nth-child(4):after {
  top: 72px;
  left: 40px;
}

.loading-spinner div:nth-child(5) {
  -webkit-animation-delay: -0.18s;
          animation-delay: -0.18s;
}

.loading-spinner div:nth-child(5):after {
  top: 71px;
  left: 32px;
}

.loading-spinner div:nth-child(6) {
  -webkit-animation-delay: -0.216s;
          animation-delay: -0.216s;
}

.loading-spinner div:nth-child(6):after {
  top: 68px;
  left: 24px;
}

.loading-spinner div:nth-child(7) {
  -webkit-animation-delay: -0.252s;
          animation-delay: -0.252s;
}

.loading-spinner div:nth-child(7):after {
  top: 63px;
  left: 17px;
}

.loading-spinner div:nth-child(8) {
  -webkit-animation-delay: -0.288s;
          animation-delay: -0.288s;
}

.loading-spinner div:nth-child(8):after {
  top: 56px;
  left: 12px;
}

@-webkit-keyframes lds-roller {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes lds-roller {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

.display-box {
  margin-bottom: 4rem;
}

.display-box h3 {
  color: grey;
  font-size: 1.5rem;
  font-weight: lighter;
  margin-bottom: 2rem;
}

.display-box .display-link {
  margin-top: 2rem;
}

.set-card {
  background: white;
  -webkit-box-shadow: 0 2px 2.5px 1px rgba(0, 0, 0, 0.25);
          box-shadow: 0 2px 2.5px 1px rgba(0, 0, 0, 0.25);
  padding: 1.15rem 1.25rem;
  -webkit-transition: all 200ms ease-out;
  transition: all 200ms ease-out;
  border-top: 3px solid #ffe600;
}

.set-card:hover {
  cursor: pointer;
  -webkit-transform: scale(0.95);
          transform: scale(0.95);
}

.set-card .set-info {
  margin-bottom: 2rem;
}

.set-card .set-info p {
  color: grey;
  margin-top: 0.4rem;
}

.set-card .creator .user-photo-box {
  width: 2.25rem;
  height: 2.25rem;
  margin-right: 0.75rem;
}

.set-card .creator .creator-name {
  color: grey;
}

.set-card-skel {
  height: 22.5vh !important;
}

.minimal-set-card {
  width: 100%;
  background: white;
  border-top: 3px solid #ffe600;
  padding: 1.15rem 1.25rem;
  margin-top: 1.5rem;
  -webkit-box-shadow: 0 2px 2.5px 1px rgba(0, 0, 0, 0.25);
          box-shadow: 0 2px 2.5px 1px rgba(0, 0, 0, 0.25);
  -webkit-transition: all 200ms ease-out;
  transition: all 200ms ease-out;
}

.minimal-set-card:hover {
  cursor: pointer;
  -webkit-transform: translateY(-1vh);
          transform: translateY(-1vh);
  -webkit-box-shadow: 0 5px 5px 2px rgba(0, 0, 0, 0.25);
          box-shadow: 0 5px 5px 2px rgba(0, 0, 0, 0.25);
}

.minimal-set-card h4 {
  max-width: 75%;
}

.minimal-set-card span {
  color: grey;
  margin-left: 0.66667rem;
}

.minimal-set-card p {
  color: grey;
  margin-top: 0.66667rem;
}

.minimal-set-card-skel {
  height: 10vh !important;
  margin-bottom: 1.5rem;
}

.alert-box {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  -webkit-box-shadow: 0 0 5px 3px rgba(0, 0, 0, 0.1);
          box-shadow: 0 0 5px 3px rgba(0, 0, 0, 0.1);
  z-index: 2000;
}

.alert-box .MuiPaper-root {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0.8rem 8rem;
}

.error-box {
  width: 40vw;
  background: rgba(255, 0, 0, 0.25);
  padding: 1.5rem;
  border-radius: 10px;
}

.error-box .icon {
  color: darkred;
  font-size: 1.875rem;
}

.error-box h4 {
  color: darkred;
  font-size: 1.35rem;
  margin-left: 0.5rem;
}

.error-box p {
  color: darkred;
  margin-top: 1rem;
  font-size: 1.2rem;
  -webkit-transform: translateX(2.5vw);
          transform: translateX(2.5vw);
}

.community-container {
  width: 75vw;
  padding: 0;
}

.community-container .main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.community-container .main .vocab-sets-display {
  width: 40%;
  margin-right: 5%;
}

.community-container .main .set-preview-display {
  width: 55%;
}

.filters-box {
  margin-top: 2rem;
}

.filters-box .filter-box {
  margin-top: 2rem;
}

.filters-box .filter-box h4 {
  margin-bottom: 1rem;
  color: grey;
  font-weight: lighter;
}

.filters-box .filter-box .active {
  background: #00a3ff;
  color: white;
  border: 1px solid #00a3ff;
}

.filters-box .filter-box .not-active {
  background: transparent;
  color: grey;
  border: 1px solid grey;
  -webkit-transition: all 200ms ease-out;
  transition: all 200ms ease-out;
}

.filters-box .filter-box .not-active:hover {
  background: #00a3ff;
  border: 1px solid #00a3ff;
  color: white;
}

.filters-box .filter-box .opt-btn {
  border-radius: 5px;
  padding: 0.5rem 2rem;
  font-weight: bold;
}

.filters-box .filter-box .opt-btn:hover {
  cursor: pointer;
}

.filters-box #left-filter > .opt-btn {
  margin-right: 1rem;
}

.filters-box #right-filter h4,
.filters-box #right-filter .opt-btn {
  margin-left: 1rem;
}

.community-display {
  margin-top: 4rem;
}

.community-display h2 {
  font-size: 1.875rem;
  margin-bottom: 2rem;
}

.community-sets {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.community-sets .community-set-card {
  position: relative;
  background: white;
  padding: 1rem;
  -webkit-box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.25);
          box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
  margin-bottom: 2rem;
}

.community-sets .community-set-card .click-layer {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: transparent;
  -webkit-box-shadow: 0 0 7.5px 2px rgba(0, 0, 0, 0.05);
          box-shadow: 0 0 7.5px 2px rgba(0, 0, 0, 0.05);
}

.community-sets .community-set-card .click-layer:hover {
  cursor: pointer;
}

.community-sets .community-set-card .preview-btn {
  z-index: 100;
  font-weight: bold;
  padding: 0.5rem 2rem;
  border-radius: 5px;
}

.community-sets .community-set-card .preview-btn:hover {
  cursor: pointer;
}

.community-sets .community-set-card .not-active {
  background: transparent;
  border: 1px solid grey;
  color: grey;
  -webkit-transition: all 200ms ease-out;
  transition: all 200ms ease-out;
}

.community-sets .community-set-card .not-active:hover {
  background: #ffe600;
  border-color: #ffe600;
  color: black;
}

.community-sets .community-set-card .active {
  background: #ffe600;
  color: black;
  border: 1px solid #ffe600;
  -webkit-transition: all 200ms ease-out;
  transition: all 200ms ease-out;
}

.community-sets .community-set-card .active:hover {
  opacity: 0.75;
}

.community-sets .community-set-card .set-info {
  margin-bottom: 3rem;
}

.community-sets .community-set-card .set-info h3 {
  font-size: 1.2rem;
  margin-bottom: 1rem;
}

.community-sets .community-set-card .set-info p {
  background: #fbfbfb;
  padding: 5px 1rem;
  border-radius: 20px;
  margin-right: 1rem;
  font-size: 0.75rem;
  color: grey;
}

.community-sets .community-set-card .user-photo-box {
  margin-right: 0.66667rem;
}

.community-sets .community-set-card .display-name {
  font-size: 0.975rem;
  font-weight: bold;
}

.community-set-card-skel {
  height: 25vh !important;
  margin-bottom: 2rem;
  border-radius: 5px;
}

.error-box {
  width: 100%;
}

.set-preview {
  background: white;
  padding: 2rem;
  -webkit-box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.25);
          box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
}

.set-preview .study-btn {
  padding-left: 2rem;
  padding-right: 2rem;
  font-weight: bold;
  font-size: 0.975rem;
}

.set-preview .set-info h3 {
  font-size: 1.5rem;
  font-weight: lighter;
  margin-bottom: 0.5rem;
}

.set-preview .set-info p {
  color: grey;
  font-size: 1.125rem;
}

.set-preview .terms-box {
  margin-top: 3rem;
}

.set-preview .terms-box .term {
  border-top: 1px solid #fbfbfb;
  padding: 1.5rem 0;
}

.set-preview .terms-box .term h4 {
  font-size: 1.125rem;
  font-weight: bold;
  margin-bottom: 0.66667rem;
}

.set-preview .terms-box .term p {
  color: grey;
  font-weight: lighter;
}

.sets-page-nav {
  margin-top: 0.66667rem;
}

.sets-page-nav p {
  width: 3rem;
  height: 3rem;
  background: #ffe600;
  border-radius: 50%;
  font-size: 1.35rem;
}

.sets-page-nav .icon {
  font-size: 2.25rem;
  color: black;
}

.sets-page-nav .icon:hover {
  cursor: pointer;
}

.sets-page-nav .not-active {
  color: rgba(128, 128, 128, 0.25);
}

.placeholder-container {
  min-height: 150vh;
}

.placeholder-container .rounded-box {
  background: rgba(245, 245, 245, 0.65);
  border-radius: 100px;
  padding: 2rem 3rem;
  margin-bottom: 3rem;
  -webkit-transition: all 200ms ease-out;
  transition: all 200ms ease-out;
}

.placeholder-container .top-box {
  width: 95%;
}

.placeholder-container .top-box:hover {
  -webkit-transform: translateY(-1vh);
          transform: translateY(-1vh);
}

.placeholder-container .top-box p {
  color: rgba(128, 128, 128, 0.5);
  font-weight: bold;
  font-size: 2.8125rem;
}

.placeholder-container .top-box .title-span {
  font-size: 3.375rem;
  margin-right: 2rem;
  color: grey;
}

.placeholder-container .top-box .title-span span {
  color: rgba(128, 128, 128, 0.5);
}

.placeholder-container .mid-box {
  width: 65%;
  -webkit-transform: translateX(30%);
          transform: translateX(30%);
}

.placeholder-container .mid-box:hover {
  -webkit-transform: translate(30%, -1vh);
          transform: translate(30%, -1vh);
}

.placeholder-container .mid-box p {
  color: grey;
  font-size: 1.5rem;
  line-height: 2.5rem;
}

.placeholder-container .bot-box {
  width: 85%;
  -webkit-transform: translateX(15%);
          transform: translateX(15%);
}

.placeholder-container .bot-box:hover {
  -webkit-transform: translate(15%, -1vh);
          transform: translate(15%, -1vh);
}

.placeholder-container .bot-box .link {
  border: 1px solid grey;
  border-radius: 25px;
  color: grey;
  padding: 0.5rem 2rem;
  font-size: 1.2rem;
  font-weight: lighter;
  text-decoration: none;
  -webkit-transition: all 200ms ease-out;
  transition: all 200ms ease-out;
}

.placeholder-container .bot-box .link:hover {
  background: white;
  border-color: white;
}

.placeholder-container .bot-box p {
  margin: 0 2rem;
  color: rgba(128, 128, 128, 0.5);
  font-size: 1.2rem;
  font-weight: bold;
}

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  background: #e3e3e3;
  padding: 3rem 6rem;
}

.footer .footer-navs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 8rem;
}

.footer .footer-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-right: 6rem;
}

.footer .footer-nav h4 {
  color: rgba(0, 0, 0, 0.65);
  font-size: 1.125rem;
  margin-bottom: 2rem;
}

.footer .footer-nav .link {
  color: grey;
  text-decoration: none;
  margin-bottom: 1.5rem;
}

.footer .footer-nav .link:hover {
  text-decoration: underline;
}

.footer .copyright {
  color: grey;
}

.footer .copyright strong {
  margin-left: 0.15rem;
}

.footer .footer-image {
  width: 25rem;
  height: 20rem;
  position: absolute;
  right: 6rem;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.fc-progress-bar {
  margin-bottom: 2rem;
}

.fc-progress-bar h6,
.fc-progress-bar p {
  color: lightgrey;
}

.fc-progress-bar .bar {
  position: relative;
  height: 2vh;
  background: white;
  border-radius: 10px;
  margin-top: 1rem;
  -webkit-box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.05);
          box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.05);
}

.fc-progress-bar .bar .pg-bar {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: lime;
  border-radius: 10px;
  -webkit-transition: all 750ms ease-out;
  transition: all 750ms ease-out;
}

.fc-container {
  position: relative;
  height: 60vh;
  padding: 0 !important;
}

.fc-container .fc-box {
  height: 100%;
}

.current-fc {
  width: 100%;
  border-radius: 5px;
  background: white;
  height: 100%;
  -webkit-box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.15);
          box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.15);
}

.current-fc:hover {
  cursor: pointer;
  opacity: 0.5;
}

.current-fc .term {
  font-size: 2.25rem;
}

.current-fc .definition {
  font-size: 1.5rem;
}

.fc-nav-bar {
  margin-top: 2rem;
  margin-bottom: 4rem;
}

.fc-nav-bar .nav-btn {
  background: transparent;
  outline: none;
  border: none;
}

.fc-nav-bar .nav-btn .icon {
  font-size: 1.6875rem;
}

.fc-nav-bar p {
  margin: 0 1rem;
}

.fc-tooltip-btn {
  outline: none;
  background: transparent;
  border: none;
}

.fc-tooltip-btn .icon {
  font-size: 1.875rem;
  -webkit-transform: scaleX(1.25);
          transform: scaleX(1.25);
  color: #b4b2b2;
  -webkit-transition: all 300ms ease-out;
  transition: all 300ms ease-out;
}

.fc-tooltip-btn:hover {
  cursor: pointer;
}

.fc-tooltip-btn:hover .icon {
  color: grey;
}

.fc-tooltip .MuiTooltip-tooltip {
  background: white;
  padding: 0.75rem 1rem;
  -webkit-box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.15);
          box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.15);
}

.fc-tooltip .MuiTooltip-tooltip header h6 {
  color: black;
  font-weight: bold;
  margin-bottom: 0.66667rem;
}

.fc-tooltip .MuiTooltip-tooltip .kb-shc {
  height: 3vh;
  border-bottom: 1px solid #ecebeb;
  margin-bottom: 0.25rem;
  padding: 1rem 0;
}

.fc-tooltip .MuiTooltip-tooltip .kb-shc .label,
.fc-tooltip .MuiTooltip-tooltip .kb-shc .icon-text {
  color: grey;
  margin: 0;
}

.fc-tooltip .MuiTooltip-tooltip .kb-shc .icon {
  color: grey;
  font-size: 1.2rem;
}

.fs-link {
  margin-left: 0.25rem;
}

.fs-link .icon {
  font-size: 1.725rem;
  color: #b4b2b2;
}

.fs-link:hover {
  cursor: pointer;
}

.fs-link:hover .icon {
  color: grey;
}

.fc-util-bar {
  position: absolute;
  right: -5.25vw;
  top: 0;
  width: 3.5vw;
  background: #383737;
  border-radius: 5px;
  padding: 0.5rem;
  -webkit-box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.15);
          box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.15);
}

.fc-util-bar button {
  outline: none;
  border: none;
  background: transparent;
  margin: 0.5rem 0;
}

.fc-util-bar button .icon {
  -webkit-transition: all 200ms ease-out;
  transition: all 200ms ease-out;
}

.fc-util-bar button:hover {
  cursor: pointer;
}

.fc-util-bar button:hover .icon {
  color: #ffe600;
}

.fc-util-bar .audio-btn,
.fc-util-bar .favorite-btn {
  color: white;
}

.fc-util-bar .audio-btn .icon,
.fc-util-bar .favorite-btn .icon {
  font-size: 1.725rem;
}

.fc-skel-container .title-box {
  margin-bottom: 4rem;
}

.fc-skel-container .title-box .title {
  height: 3vh;
  margin-bottom: 0.5rem;
  background: rgba(0, 0, 0, 0.25);
}

.fc-skel-container .title-box .title-skel-1 {
  width: 65%;
}

.fc-skel-container .title-box .title-skel-2 {
  width: 40%;
}

.fc-skel-container .current-fc {
  height: 60vh;
}

.fc-skel-container .fc-nav-bar {
  border-radius: 10px;
}

.set-creator {
  margin: 2rem 0;
}

.creator-profile .user-photo-box {
  width: 5rem;
  height: 5rem;
}

.creator-profile .user-photo-box p {
  font-size: 2.25rem;
}

.creator-profile .creator-info {
  margin-left: 1rem;
}

.creator-profile .creator-info p,
.creator-profile .creator-info strong {
  font-size: 1.125rem;
}

.creator-profile .creator-info p {
  font-weight: lighter;
  margin-bottom: 0.35rem;
}

.fc-set-options .fc-set-opt-btn {
  width: 2.75rem;
  height: 2.75rem;
  outline: none;
  border: none;
  background: white;
  border-radius: 50%;
  -webkit-box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.15);
          box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.15);
  margin-left: 1rem;
  -webkit-transition: all 200ms ease-out;
  transition: all 200ms ease-out;
}

.fc-set-options .fc-set-opt-btn:hover {
  cursor: pointer;
  opacity: 0.5;
}

.fc-set-options .fav-icon {
  color: #00a3ff;
}

.creator-profile .p-skel {
  width: 7.5rem;
  margin-bottom: 0.5rem;
}

.creator-profile .strong-skel {
  width: 10rem;
}

.fc-set-opt-btn-skel {
  background: lightgrey !important;
}

.no-recent-sets p {
  font-size: 1.2rem;
  line-height: 1.75rem;
}

.no-recent-sets .link {
  margin-top: 2rem;
}

.recent-sets-box {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(23.33333vw, 1fr))[3];
      grid-template-columns: repeat(3, minmax(23.33333vw, 1fr));
  gap: 2rem;
  width: 70vw;
}

.dashboard-section-2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.dashboard-section-2 .display-box {
  width: 55%;
}

.dashboard-section-2 .schedule-list {
  width: 40%;
  margin-left: 5%;
  background: white;
  padding: 1.5rem;
  -webkit-box-shadow: 0 2px 2px 1px rgba(0, 0, 0, 0.25);
          box-shadow: 0 2px 2px 1px rgba(0, 0, 0, 0.25);
  padding-bottom: 6rem;
}

.dashboard-section-2 .schedule-list .placeholder-message {
  color: grey;
  margin-top: 2rem;
  line-height: 1.5rem;
}

.dashboard-section-2 .schedule-list .placeholder-message p {
  font-weight: bold;
  margin-bottom: 1rem;
}

.dashboard-section-2 .schedule-list h2 {
  font-size: 1.5rem;
  font-weight: lighter;
  margin-bottom: 1.5rem;
}

.dashboard-section-2 .schedule-list .minimal-schedule-card {
  margin-bottom: 1rem;
  -webkit-transition: all 200ms ease-out;
  transition: all 200ms ease-out;
}

.dashboard-section-2 .schedule-list .minimal-schedule-card:hover {
  opacity: 0.5;
}

.dashboard-section-2 .schedule-list .minimal-schedule-card .main {
  background: #fbfbfb;
  padding: 0.66667rem;
}

.dashboard-section-2 .schedule-list .minimal-schedule-card .schedule-info p {
  color: grey;
  font-weight: lighter;
  font-size: 0.75rem;
  margin-top: 5px;
}

.dashboard-section-2 .schedule-list .minimal-schedule-card .due-date {
  color: grey;
  font-weight: lighter;
  font-size: 0.75rem;
}

.dashboard-section-2 .schedule-list .minimal-schedule-card .days-left {
  color: #00a3ff;
  font-weight: bold;
  font-size: 0.75rem;
  margin-top: 0.5rem;
}

.community-search-bar {
  width: 100%;
  background: white;
  padding: 1rem;
  border-radius: 10px;
}

.community-search-bar .icon {
  font-size: 1.875rem;
  margin-right: 1rem;
}

.community-search-bar input {
  display: block;
  outline: none;
  border: none;
  background: transparent;
  font-size: 1.35rem;
  width: 100%;
}

.sets-container {
  width: 85vw;
}

.sets-container .profile-box .user-photo-box {
  width: 5rem;
  height: 5rem;
  margin-right: 1.5rem;
}

.sets-container .profile-box .user-photo-box p {
  font-size: 2.8125rem;
  font-weight: normal;
}

.sets-container .profile-box .profile-info h2 {
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
}

.sets-container .profile-box .profile-info p {
  color: grey;
}

.tab-filter {
  margin-top: 3rem;
  margin-bottom: 2rem;
  border-bottom: 1px solid rgba(128, 128, 128, 0.25);
}

.tab-filter .tab {
  margin-right: 2rem;
  color: grey;
  font-weight: bold;
  padding-bottom: 1rem;
  -webkit-transition: all 200ms ease-out;
  transition: all 200ms ease-out;
}

.tab-filter .tab:hover {
  cursor: pointer;
  border-bottom: 2px solid rgba(0, 163, 255, 0.5);
}

.tab-filter .active {
  border-bottom: 2px solid #00a3ff;
}

.menu-filter-box {
  position: relative;
}

.menu-filter-btn {
  width: 8.5vw;
  background: white;
  border: 2px solid rgba(128, 128, 128, 0.25);
  border-radius: 5px;
  padding: 0.5rem 1.5rem;
  font-weight: bold;
  color: grey;
}

.menu-filter-btn .icon {
  margin-left: 3px;
}

.menu-filter-btn:hover {
  cursor: pointer;
}

.menu-filter {
  width: 100%;
  position: absolute;
  background: white;
  margin-top: 1rem;
  border-radius: 5px;
  -webkit-box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.15);
          box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.15);
  padding: 5px 0;
}

.menu-filter .menu-opt {
  padding: 0.66667rem 1rem;
  margin: 5px 0;
  color: grey;
  -webkit-transition: all 200ms ease-out;
  transition: all 200ms ease-out;
}

.menu-filter .menu-opt:hover {
  cursor: pointer;
  background: rgba(251, 251, 251, 0.5);
}

.sets-search-bar {
  background: white;
  border-radius: 20px;
  border: 2px solid rgba(128, 128, 128, 0.25);
  padding: 0.5rem 1rem;
  margin-left: 2rem;
}

.sets-search-bar input {
  outline: none;
  border: none;
  background: transparent;
  width: 25vw;
  font-size: 0.975rem;
}

.sets-box {
  margin-top: 4rem;
}

.sets-box h2 {
  font-weight: bold;
  font-size: 1.5rem;
}

.sets-box .error-box {
  margin-top: 2rem;
}

.sets-box .no-recent-sets {
  margin-top: 1rem;
}

.sets {
  margin-top: 3rem;
}

.sets-list {
  width: 75%;
  margin-bottom: 3rem;
}

.sets-list .divider {
  margin-bottom: 1.5rem;
}

.sets-list .divider h3 {
  margin-left: 0;
  color: grey;
}

.sets-list .divider .MuiDivider-wrapper {
  padding-left: 0;
}

.sets-list .divider::before {
  display: none;
}

.sets-list .no-sets {
  color: grey;
}

.sets-list .no-sets span {
  text-transform: lowercase;
}

.sets-list .minimal-set-card {
  width: 100%;
}

.sets-list .minimal-set-card .set-info {
  max-width: 60%;
}

.sets-list .minimal-set-card .set-info h4 {
  max-width: 100%;
}

.sets-list .minimal-set-card .user-photo-box {
  width: 2.5rem;
  height: 2.5rem;
  margin-right: 1rem;
}

.sets-list .minimal-set-card .user-photo-box p {
  color: white;
  margin-top: 0;
}

.set-page-container h1 {
  font-size: 2.025rem;
  margin-bottom: 3rem;
}

.set-page-container .main-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.set-side-bar h4 {
  color: #c4c4c4;
  font-weight: normal;
  margin-bottom: 1.5rem;
}

.set-side-bar #study-section .link p {
  -webkit-transform: translateY(0.4rem);
          transform: translateY(0.4rem);
  margin-left: 2rem;
}

.set-side-bar #games-section .link p {
  margin-left: 1.5rem;
}

.set-side-bar .link {
  margin-bottom: 2rem;
  text-decoration: none;
  border-radius: 5px;
  -webkit-transition: all 300ms ease-out;
  transition: all 300ms ease-out;
}

.set-side-bar .link p {
  color: black;
  font-size: 1.125rem;
}

.set-side-bar .link:hover p {
  color: grey;
}

.set-side-bar .link:hover .fc-rect {
  -webkit-transition: all 300ms ease-out;
  transition: all 300ms ease-out;
  -webkit-transform: translateY(-1vh);
          transform: translateY(-1vh);
}

.set-side-bar .link:hover #fc-rect-2 {
  -webkit-transition-delay: 100ms;
          transition-delay: 100ms;
}

.set-side-bar .link:hover #fc-rect-3 {
  -webkit-transition-delay: 200ms;
          transition-delay: 200ms;
}

.set-side-bar .link:hover .mt-rect {
  -webkit-transition: all 200ms ease-out;
  transition: all 200ms ease-out;
}

.set-side-bar .link:hover #main-mt-rect {
  -webkit-transform: translateY(-0.25vh);
          transform: translateY(-0.25vh);
}

.set-side-bar .link:hover #left-mt-rect {
  -webkit-transform: translate(-0.25vw, 0.75vh);
          transform: translate(-0.25vw, 0.75vh);
}

.set-side-bar .link:hover #right-mt-rect {
  -webkit-transform: translate(0.25vw, 0.75vh);
          transform: translate(0.25vw, 0.75vh);
}

.flashcards-box {
  margin-left: 4rem;
  width: 60vw;
}

html {
  scroll-behavior: smooth;
}

body {
  position: relative;
  background: #fbfbfb;
  font-family: "Signika Negative", sans-serif;
  overflow-x: hidden;
}

#App {
  font-family: "Signika Negative", sans-serif;
  padding: 8rem 4rem;
  min-height: 100vh;
}
/*# sourceMappingURL=main.css.map */