// Setup
@import "setup/reset";
@import "setup/vars";
@import "setup/mixins";
@import "utils/alignments";
@import "utils/global";
@import "utils/animations";

// Icons
@import "icons/study/study-icons";

// Layout
@import "layout/nav/nav";
@import "layout/auth/auth";
@import "layout/loading/loading";
@import "layout/sets/display";
@import "layout/sets/sets";
@import "layout/alert/alert";
@import "layout/error/error";
@import "layout/community/community";
@import "layout/placeholder/placeholder";
@import "layout/footer/footer";
@import "layout/flashcards/flashcards";
@import "layout/flashcards/flashcard-skel";

// Pages
@import "pages/home/dashboard";
@import "pages/search/search";
@import "pages/sets/sets";
@import "pages/set/set";
@import "pages/set/creator";
@import "pages/set/creator-skel";
@import "pages/set/terms-display";

// My Styles
html {
  scroll-behavior: smooth;
}

body {
  position: relative;
  background: $main-bg;
  font-family: $main-ft;
  overflow-x: hidden;
}

#App {
  font-family: $main-ft;
  padding: $spacer-md * 2 $spacer-md;
  min-height: 100vh;
}
